<h1 mat-dialog-title>Edit Task</h1>

<div mat-dialog-content class="dialog-form">
    <mat-form-field appearance="fill" class="dialog-form-field">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="editedTask.title">
    </mat-form-field>

    <mat-form-field appearance="fill" class="dialog-form-field">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="editedTask.description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="dialog-form-field">
        <mat-label>Category</mat-label>
        <input matInput [(ngModel)]="editedTask.category">
    </mat-form-field>

    <mat-form-field appearance="fill" class="dialog-form-field">
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="editedTask.dueDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

<div mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button color="primary" (click)="onProceedClick()">Proceed</button>
</div>