<mat-toolbar class="toolbar" color="primary">
    <span>ToDo App</span>

    <span class="toolbar-spacer"></span>

    <span *ngIf="authService.isLoggedIn">Hello, {{authService.author.username}}.</span>

    <span class="toolbar-spacer"></span>

    <div *ngIf="!authService.isLoggedIn; else loggedIn">
        <button mat-button (click)="openLoginDialog()">
            Login
        </button>

        <button mat-button (click)="openRegisterDialog()">
            Register
        </button>
    </div>

    <ng-template #loggedIn>
        <button mat-button (click)="openLogoutDialog()">
            Logout
        </button>
    </ng-template>


</mat-toolbar>