.task {
    max-width: 80%;
    margin: 16px auto;
}

.task-actions {
    display: flex;
    justify-content: flex-end;
}

.fab-group {
    position: fixed !important;
    bottom: 8px;
    right: 8px;
    z-index: 1000;
}

.fab-actions {
    display: block;
    margin: 16px;
}

.no-task {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}