.task{
    max-width: 80%;
    margin: 16px auto;
}

.task-actions{
    display: flex; 
    justify-content: flex-end;
}

.task-add-fab{
    position: fixed !important;
    bottom: 16px;
    right: 16px;
}